.vscode
.DS_Store

//working on...
.shapes
.refactoring
reactiveParticlesFactory.js
testCreateInput.js

// private documentation
*.txt
*.odg


.ideas
.ParticlesFactory
.Example
minify.js


.refactoring
*odg

node_modules

.vscode
resizing.*

.testCreateInputs.js
